.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #272727;

    .pulse {
        width: 100px;
        height: 100px;
        background-color: #58ea58;
        color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 100px;
        font-size: 50px;
        position: relative;
    }

    .pulse:before, .pulse:after {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        border: 1px solid #58ea58;
        border-radius: 50%;
        opacity: 0;
        animation: pulse 1.5s infinite linear;
    }

    .pulse:after {
        animation-delay: 0.5s;
    }
}

@keyframes pulse {
    0% {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 1;
    }

    100% {
        top: -40px;
        left: -40px;
        right: -40px;
        bottom: -40px;
        opacity: 0;
    }
}
