<div class="container1">
    <div class="ex1-ease rectangle move">ease</div>
    <div class="ex1-linear rectangle move">linear</div>
    <div class="ex1-ease-in rectangle move">ease-in</div>
    <div class="ex1-ease-out rectangle move">ease-out</div>
    <div class="ex1-ease-in-out rectangle move">ease-in-out</div>
</div>
<br>
<div class="container2">
    <div class="ex2-default rectangle">default</div>
    <div class="ex2-transition-dealy rectangle">transition-delay: 2s</div>
</div>
<br>
<div class="container3">
    <div class="ex3 rectangle">property에 배경색만 추가</div>
    <div class="ex3-transition-protperty rectangle">property에 color도 추가.</div>
    <div class="ex3-all rectangle">transition-property: all</div> 
    <div class="ex3-one-line rectangle">one line</div>
</div>
