
<div class="img-container">
    <img src="../../assets/image1.png">
    <div class="words">
        <h1>헬로우월드!</h1>
        <p>굿바이월드!</p>
    </div>
</div>

<div class="img-container">
    <img src="../../assets/image1.png">
    <div class="words2">
        <h1>오른쪽으로 비비고!</h1>
        <p>다시 돌아오기!</p>
    </div>
</div>

<div class="img-container2">
    <img src="../../assets/image1.png">
    <div class="words">
        <h1>왼쪽으로 비비고!</h1>
        <p>360도 비비고!</p>
    </div>
</div>

<div class="img-container3">
    <img src="../../assets/image2.jpeg">
    <div class="words">
        <h1>저녁을 먹어야해서</h1>
        <p>교촌 레드콤보 시켰습니다.</p>
    </div>
</div>

<div class="img-container4">
    <img src="../../assets/image3.jpeg">
    <div class="words">
        <div>Cyberpunk</div>
        <p>2077</p>
    </div>
</div>

<div class="img-container5">
    <ul>
        <li>S</li>
        <li>M</li>
        <li>O</li>
        <li>K</li>
        <li>Y</li>
    </ul>
</div>

<div class="img-container6">
    <h1>Loading...</h1>
</div>
