<ul>
    <li><a routerLink="animation-basic">basic</a></li>
    <li><a routerLink="rain">rain</a></li>
    <li><a routerLink="balloon">balloon</a></li>
    <li><a routerLink="heartbeat">heart-beat</a></li>
    <li><a routerLink="coin">coin</a></li>
    <li><a routerLink="shaking">shaking</a></li>
    <li><a routerLink="racing">racing</a></li>
    <li><a routerLink="bling">bling</a></li>
    <li><a routerLink="rotator">rotator</a></li>
    <li><a routerLink="fall">fall</a></li>
    <li><a routerLink="flow">flow</a></li>
    <li><a routerLink="lighting">lighting</a></li>
    <li><a routerLink="bouncing">bouncing</a></li>
    <li><a routerLink="image-slider">image-slider</a></li>
</ul>

<router-outlet></router-outlet>
