<h1>CSS Transform 운동장</h1>

<div class="container">
    <div class="rectangle link">Rotate Btn</div>
    <div class="rectangle link2">Top Left</div>
    <div class="rectangle link3">Top Right</div>
</div>

<div class="container">
    <div class="rectangle link4">LEFT to RIGHT</div>
    <div class="rectangle link5">TOP to BOTTOM</div>
    <div class="rectangle link5-2">ABC</div>
</div>

<div class="container">
    <div class="rectangle link6">CROSS</div>
</div>

<div class="container">
    <div class="rectangle link7">Bolder..</div>
</div>

<div class="container dark-background">
    <div class="rectangle link8">bling bling</div>
    <div class="rectangle link9"></div>
    <div class="rectangle link10">Approach</div>
    <div class="rectangle link11">Step back</div>
</div>

<div>
    가로
    <ul class="horizontal-stair">
        <li>
            home
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </li>
        <li>
            about
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </li>
        <li>
            contact
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </li>
    </ul>
</div>

<div>
    세로
    <ul class="vertical-stair">
        <li>
            home
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </li>
        <li>
            about
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </li>
        <li>
            contact
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </li>
    </ul>
</div>

<div class="container">
    <div class="rectangle link12">TOMATO</div> 
    <div class="rectangle link13">ORANGE</div>
    <div class="rectangle link14">MUSTARD</div>
</div>

<div class="container">
    <div class="rectangle link15">button</div>
</div>

<!-- <div class="container">
    <div class="rectangle link16">멋져<span></span></div>
</div> -->