@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-style($color, $border-color) {
    color: $color;
    font-family: sans-serif;
    font-size: 35px;
    border: 5px solid $border-color;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
}

h1 {
    @include flex-center();
}

.rectangle {
    @include flex-center;
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.container {
    height: 30vh;
    @include flex-center;
}

    
.link {
    @include box-style(#272727, #272727);
}

.link:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: skyblue;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom right;
    transform: rotate(90deg);
    transition: transform 1s;
}

.link:hover:before {
    transform: rotate(0deg);
}

.link2 {
    @include box-style(#272727, #272727);
}

.link2:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(135, 235, 180);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: top left;
    transform: rotate(90deg);
    transition: transform 1s;
}

.link2:hover:before {
    transform: rotate(0deg);
}

.link3 {
    @include box-style(#272727, #272727);
}

.link3:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(225, 235, 135);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: top right;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.link3:hover:before {
    transform: rotate(0deg);
}

.link4 {
    @include box-style(#272727, #272727);
    transition: all 0.5s;
}

.link4:before {
    content: '';
    background-color: #8b1616;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translate(-100%);
    transition: all 0.5s;
}

.link4:hover:before {
    transform: translate(0);
}

.link4:hover {
    color: white;
}

.link5 {
    @include box-style(#8b7616, #8b7616);
    transition: all 0.5s;
}

.link5:before {
    content: '';
    background-color: #8b7616;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translate(0, -100%);
    transition: all 0.5s;
}

.link5:hover:before {
    transform: translate(0);
}

.link5:hover {
    color: white;
}

.link5-2 {
    @include box-style(#dc4ce9, #dc4ce9);
    transition: all 0.5s;
}

.link5-2:before {
    @include flex-center;
    content: 'HELLO';
    background-color: #dc4ce9;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    // z-index: -1;
    width: 100%;
    height: 100%;
    transform: translate(0, -100%);
    transition: all 0.5s;
}

.link5-2:hover:before {
    transform: translate(0);
}

.link5-2:hover {
    color: white;
}

.link6 {
    @include box-style(skyblue, skyblue);
    transition: all 1s ease-in;
}

.link6:before {
    content: '';
    background-color: skyblue;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in;
    transform: rotateX(90deg);
}

.link6:after {
    content: '';
    background-color: skyblue;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
    transform: rotateY(90deg);
}

.link6:hover:before {
    transform: rotateX(0);
}

.link6:hover:after {
    transform: rotateY(0);
}

.link6:hover {
    color: white;
}

.link7 {
    @include box-style(rgb(233, 17, 17), rgb(233, 17, 17));
    font-family: Spartan;
    letter-spacing: -3px;
    font-weight: 300;
    transition: all 0.5s;
}

.link7:hover {
    letter-spacing: 5px;
    font-weight: 900;
    border: 10px solid rgb(233, 17, 17);
    cursor: pointer;
}

.dark-background {
    // background-color: #272727;
}

.link8 {
    @include box-style(rgb(177, 177, 177), rgb(255, 81, 81));
    font-family: Spartan;
    letter-spacing: -3px;
    font-weight: 300;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}

.link8:hover {
    background-color: rgb(255, 81, 81);
    color: white;
}

.link8:before {
    content: '';
    width: 200%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.5s;
    transform-origin: top left;
}

.link8:hover:before {
    transform: translate(200%, -200%) rotate(45deg);
}

.link9 {
    @include box-style(rgb(184, 184, 56), rgb(184, 184, 56));
}

.link9:before {
    content: 'BEFORE';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include flex-center;
    background-color: rgb(184, 184, 56);
    color: white;
    transition: all 0.2s;
}
.link9:after {
    content: 'AFTER';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include flex-center;
    background-color: rgb(184, 184, 56);
    color: white;
    transform: translate(-100%, 100%);
    transition: all 0.2s;
}

.link9:hover:before {
    transform: translate(100%, -100%);
}

.link9:hover:after {
    transform: translate(0);
}

.link10 {
    @include box-style(#292929, #292929);
}

.link10:before {
    content: 'Approach';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include flex-center();
    background-color: #292929;
    color: white;
    transition: all 0.5s;
}

.link10:hover:before {
    opacity: 0;
    transform: scale(5);
}

.link11 {
    @include box-style(#292929, #292929);
}

.link11:before {
    content: 'Step back';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include flex-center();
    background-color: #292929;
    color: white;
    transition: all 0.2s;
    opacity: 0;
    transform: scale(5);
    
}

.link11:hover:before {
    opacity: 1;
    transform: scale(1)
}

.horizontal-stair {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;

    li {
        margin: 20px;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: red;
        text-decoration: none;
        text-transform: capitalize;
        position: relative;
        transition: all 0.5s;
        border-radius: 5px;

        span {
            position: absolute;
            width: 25%;
            height: 100%;
            background-color: #818181;
            z-index: -1;
            left: 0;
            top: 0;
            transform: scaleY(0);
            transition: all 0.5s;
            transform-origin: top;
            
        }

        span:nth-child(2) {
            left: 25%;
            transition-delay: 150ms;
        }

        span:nth-child(3) {
            left: 50%;
            transition-delay: 300ms;
        }
        span:nth-child(4) {
            left: 75%;
            transition-delay: 450ms;
        }
    }
    li:hover {
        color: white;
    }

    li:hover span {
        transform: scaleY(1);
    }
}

.vertical-stair {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;

    li {
        margin: 20px;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: red;
        text-decoration: none;
        text-transform: capitalize;
        position: relative;
        transition: all 0.5s;
        border-radius: 5px;

        span {
            position: absolute;
            width: 100%;
            height: 25%;
            background-color: #818181;
            z-index: -1;
            left: 0;
            top: 0;
            transform: scaleY(0);
            transition: all 0.5s;
            transform-origin: top;
            
        }

        span:nth-child(2) {
            top: 25%;
            transition-delay: 50ms;
        }

        span:nth-child(3) {
            top: 50%;
            transition-delay: 150ms;
        }
        span:nth-child(4) {
            top: 75%;
            transition-delay: 250ms;
        }
    }
    li:hover {
        color: white;
    }

    li:hover span {
        transform: scaleY(1);
    }
}

.link12 {
    @include box-style(tomato, tomato);
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}

.link12:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include flex-center();
    background-color: tomato;
    // color: tomato;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    transition: all 0.5s;
    height: 0%;
}

.link12:hover:before {
    height: 190%;
}

.link12:hover {
    color: white;
}

.link13 {
    @include box-style(ORANGE, ORANGE);
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}

.link13:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    @include flex-center();
    background-color: orange;
    z-index: -1;
    border-radius: 50% 50% 0 0;
    transition: all 0.5s;
    height: 0%;
}

.link13:hover:before {
    height: 190%;
}

.link13:hover {
    color: white;
}

.link14 {
    @include box-style(GoldenRod, GoldenRod);
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}

.link14:before {
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    @include flex-center();
    background-color: GoldenRod;
    z-index: -1;
    border-radius: 0 50% 50% 0;
    transition: all 0.5s;
    width: 0%;
}

.link14:hover:before {
    width: 190%;
}

.link14:hover {
    color: white;
}

.link15 {
    @include box-style(SeaGreen, SeaGreen);
    position: relative;
    color: white;
    transition: all 0.5s;
}

.link15:before {
    content: 'button';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex-center();
    background-color: seagreen;
    color: white;
    transition: all 0.7s;
}

.link15:hover:before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

.link15:after {
    content: 'button';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    @include flex-center();
    background-color: seagreen;
    color: white;
    transform: scale(0) rotateY(0deg);
    transition: all 0.7s;
    opacity: 0;
}

.link15:hover:after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}

.link16 {
    width: 220px;
    height: 80px;
    color: LightBlue;
    background-color: transparent;
    font-size: 30px;
    border: 3px solid LightBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    transition: all 0.5s;
    position: relative;

    span {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: LightBlue;
        transform: scale(0);
        transition: all 0.3s;
        z-index: -1;
    }
}

.link16:before, .link16:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: Gold;
    border-radius: 50%;
    transition: all 0.3s;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0;
}

.link16:before {
    left: 10%;
    box-shadow: -100px 0 0 gold;
}

.link16:after {
    right: 10%;
    box-shadow: 100px 0 0 gold;
}

.link16:hover:before {
    left: 100%;
    opacity: 1;
}

.link16:hover:after {
    right: 100%;
    opacity: 1;
}

.link16:hover {
    color: white;
    opacity: 1;
    
    span {
        transform: scale(1);
        transition-delay: 0.2s;
    }
}

.img-container {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 2%;
    position: relative;
    overflow: hidden;
    
    img {
        width: 100%;
        transition: all 0.5s;
    }

    .words, .words2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        opacity: 0;
        transition: all 0.5s;

        p {
            font-size: 18px;
        }
    }

    .words2 {
        left: -100%;
    }
}

.img-container:hover{
    .words {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .words2 {
        left: 0;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    img {
        transform: rotate(30deg) scale(1.5);
    }
}

.img-container2 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 2%;
    position: relative;
    overflow: hidden;
    
    img {
        width: 100%;
        transition: all 0.5s;
    }

    .words {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        opacity: 0;
        transition: all 0.5s;

        p {
            font-size: 18px;
        }
    }
}

.img-container2:hover{
    .words {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }

    img {
        transform: rotate(-360deg) scale(2);
    }
}

.img-container3 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 2%;
    position: relative;
    overflow: hidden;
    
    img {
        width: 100%;
        transition: all 0.25s;
    }

    .words {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        // opacity: 0;
        transition: all 0.25s;
        transform: translateX(-100%);

        p {
            font-size: 18px;
        }
    }
}

.img-container3:hover{
    .words {
        // opacity: 1;
        background-color: #272727;
        color: white;
        transform: translateX(0);
    }

    img {
        transform: translateX(100%);
    }
}