<ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="training">Basic</a></li>
    <li><a routerLink="buttons">Button</a></li>
    <li><a routerLink="image">Image&Text</a></li>
    <li><a routerLink="animation">Animation</a></li>
</ul>

<div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
</div>

<!-- <button (click)="loadFoo()">Load FooComponent</button>
<ng-container *ngIf="foo">
    <ng-template [ngComponentOutlet]="foo | async"></ng-template>
</ng-container> -->
