.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: #272727;

    .heart {
        width: 100px;
        height: 100px;
        position: relative;
        background-color: #ff3838;
        transform: rotate(45deg);
        animation: heart-beat 1.4s linear infinite;
        animation-delay: 0.2s;
    }

    .heart:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ff3838;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    .heart:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ff3838;
        transform: translateX(-50%);
        border-radius: 50%;
    }
}

@keyframes heart-beat {
    0% { transform: rotate(45deg) scale(1); }
    25% { transform: rotate(45deg) scale(0.8); }
    30% { transform: rotate(45deg) scale(1); }
    50% { transform: rotate(45deg) scale(1.25); }
    70% { transform: rotate(45deg) scale(1); }
    100% { transform: rotate(45deg) scale(0.9); }
}