.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 128, 0.603);

    h1 {
        color: white;
        letter-spacing: 10px;
        font-size: 50px;
        position: relative;
        margin: 10;
        padding: 10;
    }

    h1:before {
        content: 'LOADING..';
        color: #f6b93b;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-right: 4px solid #f6b93b;
        animation: pre-loader 4s linear infinite;
        overflow: hidden;
    }
}

@keyframes pre-loader {
    0% { width : 100%; }
    50% { width: 0%;  }
    100% { width: 100%;  }
}