<h1>CSS PLAYGROUND</h1>
<h3>transition</h3>
<div class="container1">
    <div class="ex1-ease rectangle move">ease</div>
    <div class="ex1-linear rectangle move">linear</div>
    <div class="ex1-ease-in rectangle move">ease-in</div>
    <div class="ex1-ease-out rectangle move">ease-out</div>
    <div class="ex1-ease-in-out rectangle move">ease-in-out</div>
</div>

<br>
<div>----</div>
<br>

<div class="container2">
    <div class="ex2-default rectangle">default</div>
    <div class="ex2-transition-dealy rectangle">transition-delay: 2s</div>
</div>

<br>
<div>----</div>
<br>

<div class="container3">
    <div class="ex3 rectangle">property에 배경색만 추가</div>
    <div class="ex3-transition-protperty rectangle">property에 color도 추가.</div>
    <div class="ex3-all rectangle">transition-property: all</div> 
    <div class="ex3-one-line rectangle">one line</div>
</div>
<br>
<div>----</div>
<br>
<div>------------------------</div>
<h3>transform</h3>

<div class="container4">
    <div class="ex4-translate square">Translate!</div>
    <div class="ex4-scale square">Scale!</div>
    <div class="ex4-rotate square">Rotate</div>
    <div class="ex4-skew square">Skew</div>
    <div class="ex4-rotate-2 square">Rotate Using transform-origin</div>
</div>

<br>
<div>----</div>
<br>
<div>------------------------</div>
<h3>3D</h3>

<div class="container5">
    <div class="ex5-1 square2">3D Translate</div>
    <div class="ex5-rotate square2">3D Rotate</div>
</div>